<div id="about-us" class="container section">
    <div class="about-us-main">
    <!-- <h2 class="p-2">About Us</h2> -->
   
    <h4 class="p-2">An Over View of Axiom</h4>
    <h3 class="p-4"> Creative and Modern Construction.</h3>
    <div class="d-flex flex-row align-items-center construction-block">
      <div class="box">
        <p class="text-center fade-in fade">With 15 years of experience in the field, we has seen the industry evolve, faced countless challenges, and honed the skills necessary to create something extraordinary. Now, with a vision to redefine construction services, we introduces Axiom Realty Group – construction company that prioritizes innovation, craftsmanship, and client satisfaction.</p>
      </div>
      <div class="box">
        <img class="d-block w-100 fade-in fade" src="/assets/images/construnctionImage1.png" alt="First slide">
      </div>
    </div>
   
    </div>
   
   
      <h4 class="p-2 fw-bold fade-in fade-right">The Journey Behind the Vision </h4>
   
  <p class="fade-in fade">After spending over a decade and a half working on residential, projects, we realized there was a gap in the industry – a need for a company that not only delivers quality work but also emphasizes transparency, efficiency, and modern solutions. With a deep understanding of what it takes to execute projects successfully, Axiom Realty Group was born.</p>
    
  <div class="about-us-main">
    <h4 class="p-5">OUR WORK</h4>
    
      <img class="our-work-img fade" src="/assets/images/our-work.png" alt="First slide">
    
      <div>
        <h5 class="mt-5 fade-right">“Our residential projects are strongly individual and express the unique characteristics of their sites”</h5>
      </div>
  </div>
   
    <hr class="border border-dark border-3 opacity-75" />
   
    <h3 class="d-flex justify-content-center p-2"> WHAT WE DO </h3>
    
      <div class="d-flex flex-row flex-wrap align-items-center" style="justify-content: space-evenly;">
        <div class="p-2 card-wrapper">
          <img class="wwd-img d-block fade" src="/assets/images/wwd-approach.png" alt="what-we-do"/>
          <!-- <div class="vl"></div> -->
          <p class="text-center p-2 fw-bold">APPROACH</p>
          <p class="text-center wwd-text d-block fade-right"> All stages of the project are developed with the goal of achieving high levels of efficiency, quality of construction, maintenance and operation, and the user desires right from the very start of the conceptual stages up to the finished product and beyond</p>
        </div>
        <!-- <div class="vl"></div> -->
        <div class="p-2 card-wrapper">
          <img class="wwd-img d-block fade" src="/assets/images/wwd-design.png" alt="what-we-do"/>
          <p class="text-center p-2 fw-bold">DESIGN</p>
          <p class="text-center wwd-text d-block fade-right"> The gathering of resources, technologies available on site and their integration into the project through design and construction procedures that makes any realization conceived with this approach, unique.</p>
   
        </div>
   
      </div>
   
      <div class="d-flex flex-row flex-wrap align-items-center mt-5" style="justify-content: space-evenly;">
        <div class="p-2 card-wrapper">
          <img class="wwd-img d-block fade" src="/assets/images/wwd-customize.png" alt="what-we-do"/>
          <p class="text-center p-2 fw-bold">CUSTOMIZE</p>
          <p class="text-center wwd-text d-block fade-right"> We craft every project as a one-off, A tailor-made path to each realization that starts from the very concept, to its proposition merging the team’s professionalism and creativity through architecture, design, engineering, sustainability consultancy and communication skills, to guide each project to success.</p>
   
          <!-- <div class="vl"></div> -->
        </div>
        <!-- <div class="vl"></div> -->
        <div class="p-2 card-wrapper">
          <img class="wwd-img d-block fade" src="/assets/images/wwd-build.png" alt="what-we-do"/>
          <p class="text-center p-2 fw-bold">BUILD</p>
          <p class="text-center wwd-text d-block fade-right">“ In Construction we don’t just work with concrete and steel, but with hope and dreams.” Quality is never an accident: it’s always the result of intelligent effort.</p>
   
        </div>
   
      </div>
      
      <hr class="border border-dark border-3 opacity-75 mb-5" />
   
      <div class="principles-section d-flex flex-row align-items-center">
        <div class="">
          <img class="ps-icon d-block fade" src="/assets/images/commitment.png" alt="what-we-do"/>
        </div>
        <div class="ps-icon ps-header fade"> <h3>COMMITMENT</h3> </div>
      </div>
      <div >
        <h4 class="fade-right">Our Commitment to Excellence </h4>
        <p class="fade-right">At Axiom Realty Group commitment is the foundation of everything we build. We are dedicated to delivering high-quality construction with precision, integrity, and reliability. From concept to completion, we ensure every project meets the highest standards, exceeding client expectations. With a focus on safety, sustainability, and innovation, we turn visions into reality—because your trust is our greatest responsibility.</p>
      </div>
   
      <div class="principles-section d-flex flex-row align-items-center">
        <div class="">
          <img class="ps-icon d-block fade" src="/assets/images/team-work.png" alt="what-we-do"/>
        </div>
        <div class="ps-icon ps-header fade"> <h3>TEAM WORK</h3> </div>
      </div>
      <div >
        <h4 class="fade-right">The Power of Teamwork</h4>
        <p class="fade-right">At Axiom Realty Group, we believe that great structures are built on strong teamwork. Collaboration, trust, and dedication drive every project we undertake. From architects and engineers to skilled laborers and project managers, our team works seamlessly to ensure efficiency, quality, and success. Together, we build not just buildings, but lasting relationships and a brighter future.</p>
      </div>
   
      <div class="principles-section d-flex flex-row align-items-center">
        <div class="">
          <img class="ps-icon d-block fade" src="/assets/images/integrity.png" alt="what-we-do"/>
        </div>
        <div class="ps-icon ps-header fade"> <h3>Integrity</h3> </div>
      </div>
      <div >
        <h4 class="fade-right">Integrity : Our Foundation of Trust </h4>
        <p class="fade-right">At Axiom Realty Group, integrity is at the core of everything we do. We are committed to honesty, transparency, and ethical practices in every project. From planning to execution, we uphold the highest standards, ensuring quality, safety, and reliability. Our word is our bond, and we build with trust—because strong structures begin with a solid foundation of integrity.</p>
      </div>
   
      <div class="principles-section d-flex flex-row align-items-center">
        <div class="">
          <img class="ps-icon d-block fade" src="/assets/images/delivering-on-time.png" alt="what-we-do"/>
        </div>
        <div class="ps-icon ps-header fade"> <h3>DELIVERING ON TIME</h3> </div>
      </div>
      <div >
        <h4 class="fade-right">Delivering on Time, Every Time</h4>
        <p class="fade-right">At [Your Company Name], we understand that time is crucial in construction. Our commitment to efficiency, planning, and execution ensures that every project is completed on schedule without compromising quality. With a skilled team and streamlined processes, we deliver results you can count on—because meeting deadlines is just as important as building strong structures.</p>
      </div>
   
  <!-- <div class="about-icons">
      <img src="/assets/icon1.png" alt="Icon">
      <img src="/assets/icon2.png" alt="Icon">
      <img src="/assets/icon3.png" alt="Icon">
    </div> -->
  </div>