<div class="w-100">
    <img src="assets/images/project-first-image.png" alt="Logo" class="w-100">
</div>
<div class="container col-12 p-4 d-flex ">
    <div class="col-6 ">
        <img src="assets/images/construnctionImage1.png" class="w-100 h-100 rounded-5 fade">
    </div>
    <div class="col-6 d-flex justify-content-evenly flex-column align-items-center fade-right">
        <h2>Habitat ekam</h2>
        <h2>Villa</h2>
        <h2>Devanahalli</h2>
        <button type="button" class="btn btn-dark rounded-5 w-auto color-btn">Know More</button>
    </div>
</div>
<div class="container col-12 p-4 d-flex ">
    <div class="col-6 d-flex justify-content-evenly flex-column align-items-center">
        <h2 class="fade-left">ARCHITECTURAL </h2>
        <p class="fade-left">Our aims to provide its clients with professional architectural <br> services that achieve an appropriate
            balance between contextual,aesthetic,
            environmental, and Quality considerations.</p>
    </div>
    <div class="col-6 ">
        <img src="assets/images/project-second-image.png" class="w-100 h-100 fade">
    </div>
</div>
<div class="container col-12 p-4 d-flex ">
    <div class="d-flex flex-column">
        <div class="col-12">
            <h2 class="text-center text-color"> Why to choose us</h2>
        </div>
        <div class="col-12 d-flex align-items-center">
            <div class="col-4 text-center">
                <img class="h-10" src="assets/images/more-impactfull.png">
                <h3>More Impactful</h3>
                <p>Every project we make for our clients is an
                    individual attempt to meet the requirements with
                    maintaining the highest quality of the product. </p>
            </div>
            <div class="col-4 text-center">
                <img class="h-10" src="assets/images/innovative-design.png">
                <h3>Innovative Design</h3>
                <p>Every project we make for our clients is an
                    individual attempt to meet the requirements with
                    maintaining the highest quality of the product. </p>
            </div>
            <div class="col-4 text-center">
                <img class="h-10" src="assets/images/intraction.png">
                <h3>Interaction</h3>
                <p>We're in touch with every client during the whole
                    project to get to know each other and satisfy all
                    project requirements. </p>
            </div>
        </div>
    </div>
</div>
<div class="container col-12 p-4 d-flex">
    <div class="d-flex flex-column w-100">
        <div class="col-12">
            <h2 class=" text-color">OUR PARTNERS</h2>
        </div>
        <div class="col-12 d-flex justify-content-around mt-5">
            <div class=" text-center">
                <img class="h-10" src="assets/images/img-ppp.png">
            </div>
            <div class=" text-center">
                <img class="h-10" src="assets/images/img-md.png">
            </div>
            <div class=" text-center">
                <img class="h-10" src="assets/images/img-ra.png">
            </div>
            <div class=" text-center">
                <img class="h-10" src="assets/images/img-si.png">
            </div>
        </div>
    </div>
</div>