

<div class="hero">
    <h1 class="innovation-header">Innovation.</h1>

    <p class="cursor typewriter-animation"><strong>We made just the <span style="color: gold;">most technical</span> and user-friendly construction</strong>
    </p>
  </div>
  
  <div id="about" class="fade container section">
    <p class="home-text">We believe in a strict Code of Ethics. <br> Integrity, commitment to excellence, <br> professional attitude, and
      personalized
      care.</p>
  </div>
  
  <div id="projects" class="container section d-flex flex-row col-12">
    <div class="carousel-left d-flex flex-column justify-content-evenly col-6">
      <h2>Construction</h2>
      <div class="second fade">
        <p>G+3 Multistory Bungalow 5800 Sq.ft. <br> </p>
        <p>Area, Located in Ab Gardenia Gadeted community Layout</p>
      </div>
      <button type="button" class="btn btn-dark rounded-5 w-50">Know More</button>
    </div>
    <div id="carouselExampleAutoplaying" class="carousel slide col-6" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/construnctionImage1.png" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="assets/images/firstBG.png" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="assets/images/construnctionImage1.png" class="d-block w-100">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div id="about-us" class="container section d-flex flex-row col-12">
    <div class="about-us-image mt-5">
      <img src="assets/images/construnctionImage1.png" class="d-block w-100">
    </div>
    <div class="carousel-left d-flex flex-column col-6 p-2">
      <h2>About Us</h2>
      <div class="second">
        <p>With 15 years of experience in the field, we has seen the industry evolve, faced
          countless challenges, and honed the skills necessary to create something
          extraordinary. Now, with a vision to redefine construction services, we introduces
          Axiom Realty Group – construction company that prioritizes innovation,
          craftsmanship, and client satisfaction.</p>
      </div>
      <div class="about-icons">
        <img src="assets/images/Address.png" alt="Icon">
        <img src="assets/images/Company.png" alt="Icon">
        <img src="assets/images/Full-Family.png" alt="Icon">
      </div>
    </div>
  </div>
  <div id="why-axiom" class="container section d-flex flex-column col-12">
    <h2>Why Axiom</h2>
    <div class="content-for-why-us">
      <div class="cards d-flex justify-content-evenly">
        <div class="card" style="width: 20%;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        <div class="card" style="width: 20%;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        <div class="card" style="width: 20%;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        <div class="card" style="width: 20%;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="bottom-section"></div>
    </div>
  </div>
  
  <div id="axiom-project-cards" class="container section d-flex flex-column col-12 axiom-project-cards">
    <div class="cards-section d-flex justify-content-evenly position-relative"style="height:30rem">
      <div class="card" style="width: 33%; position: absolute;top: 0; left: 0;">
        <div class="card-body">
          <img src="assets/images/firstBG.png" class="d-block w-100">
        </div>
      </div>
      <div class="card" style="width: 33%; position: absolute;top: 20%;">
        <div class="card-body">
          <img src="assets/images/firstBG.png" class="d-block w-100">
        </div>
      </div>
      <div class="card" style="width: 33%; position: absolute;top: 40%;right: 0;">
        <div class="card-body">
          <img src="assets/images/firstBG.png" class="d-block w-100">
        </div>
      </div>
    </div>
  </div>